[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.7"

[dev-packages]

[packages]
pillow = "~=9.3"
wiki = "~=0.7"
whitenoise = "~=4.1"
gunicorn = "~=19.9"
django-heroku = "~=0.3"
pygments = "~=2.7"
