{% extends "wiki/base_site.html" %}

{% load static sekizai_tags %}

{% block wiki_site_title %} - Work in Progress{% endblock %}

{% block wiki_header_branding %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'wip/css/customization.css' %}">
  {% endaddtoblock %}

<a class="navbar-brand" href="/">Work in Progress</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki</a></li>
</ul>
{% endblock %}

{% block wiki_footer_logo %}
<a href="https://github.com/Perfect5th/work-in-progress" class="pull-right"><img src="{% static "wiki/img/github_icon.png" %}" /></a>
{% endblock %}
